

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/;
}

.header {
    grid-area: h;
    background-color: coral;
}

.header img {
    width: 50px;
    height: 50px;
}

.nav {
    grid-area: n;
    background-color: khaki;
}

.content {
    grid-area: c;
    background-color: lightseagreen;
}

.content img {
    width: 100%;
    height: 300px;
}
