

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/;
    height: 50vw;
    width: 150vh;
}

.app-wrapper-content  {
    grid-area: c;
    background-color: lightseagreen;
}

img {
    height: 25em;
    width: 60em;
}



